<html>
  <head>
    <title>IGNite</title>
    <style>
        .progress {
            width: 100%;
            text-align: center;
        }
    </style>
  </head>
  <body>
    <h1>IGNite</h1>
    <h2>Request a map</h2>
    {% for message in get_flashed_messages() %}
    <p style="color: red;">{{ message }}</p>
    {% endfor %}
    <form method="POST" id="ignite_form" action="generate">
      <p>Set upper-left coordinates to: <input type="text" name="upper_left" value="{{ upper_left }}"></p>
      <p>Set lower-right coordinates to: <input type="text" name="lower_right" value="{{ lower_right }}"></p>
      <p>Set zoom level to: <input type="text" name="zoom" value="{{ zoom }}"></p>
      <input type="submit" name="submit" value="Send">
    </form>


  <div id="progress"></div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
      function start_ignite (e) {
          e.preventDefault(); // send via ajax

          // progress bar
          div = $('<div class="progress"><div></div><div>0%</div><div>...</div><div>&nbsp;</div></div><hr>');
          $('#progress').append(div);
          var nanobar = new Nanobar({
              bg: '#44f',
              target: div[0].childNodes[0]
          });

          // form submission
          var form = $(this);
          var url = form.attr('action');
          $.ajax({
              type: "POST",
              url: url,
              data: form.serialize(), // serializes the form's elements.
              success: function (data, status, request) {
                  status_url = request.getResponseHeader('Location');
                  update_progress(status_url, nanobar, div[0]);
              },
              error: function () {
                  alert('Unexpected error');
              }
          });
      }

      function update_progress(status_url, nanobar, status_div) {
          // send GET request to status URL
          $.getJSON(status_url, function(data) {
              // update UI
              percent = parseInt(data['current'] * 100 / data['total']);
              nanobar.go(percent);
              $(status_div.childNodes[1]).text(percent + '%');
              $(status_div.childNodes[2]).text(data['status']);
              if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                  if ('result' in data) {
                      // show result
                      $(status_div.childNodes[3]).html('<a href="' + data['result'] + '">Result</a>');
                      // $(status_div.childNodes[3]).text('Result: ' + data['result']);
                  }
                  else {
                      // something unexpected happened
                      $(status_div.childNodes[3]).text('Result: ' + data['state']);
                  }
              }
              else {
                  // rerun in 2 seconds
                  setTimeout(function() {
                      update_progress(status_url, nanobar, status_div);
                  }, 2000);
              }
          });
      }
      $(function() {
          $("#ignite_form").submit(start_ignite);
      });
  </script>
  </body>
</html>