<html>
  <head>
    <title>IGNite</title>
  </head>
  <body>
    <h1>IGNite</h1>
    <h2>Request a map</h2>
    {% for message in get_flashed_messages() %}
    <p style="color: red;">{{ message }}</p>
    {% endfor %}
    <form method="POST">
      <p>Set upper-left coordinates to: <input type="text" name="upper_left" value="{{ upper_left }}"></p>
      <p>Set lower-right coordinates to to: <input type="text" name="lower_right" value="{{ lower_right }}"></p>
      <p>Set zoom level to: <input type="text" name="zoom" value="{{ zoom }}"></p>
      <input type="submit" name="submit" value="Send">
    </form>
  </body>
</html>